.App {
  text-align: center;
}

.navigaion-bar {
  padding: 10px;
  background: #edf2f4;
  border-bottom: 1px solid #999;
}

.navigaion-bar a {
  color: #0072ff;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 5px;
}


.navigaion-bar a:hover {
  color: #8a0f53;
}

